.section {
    margin: 0 5px 5px;
}

.section__header {
    margin: 0 0 1px;
    padding: 15px;
    background: white;
    font-size: 17px;
}

.section__div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: white;
    margin: 0px 0px 1px 0px;
    padding-right: 15px;
}